<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="F" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>ncISO.log</File>
    <encoder>
      <pattern>%-5p [%t] %c{2}.[%x] %d{MMM/dd HH:mm:ss} - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>4</maxIndex>
      <FileNamePattern>ncISO.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10000KB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%5p [%t] (%F:%L) - %m%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="F"/>
    <appender-ref ref="stdout"/>
  </root>
</configuration>